<?xml version="1.0"?>
<launch>
    <arg name="node_name" default="robot_1"/>
    <arg name="robot_id" default="1"/>
    <arg name="robot_capacity" default="5"/>

    <node name="$(arg node_name)" pkg="mobile_robot" type="robot.py" output="screen">
        <param name="robot_id" value="$(arg robot_id)" />
        <param name="robot_capacity" value="$(arg robot_capacity)" />
    </node>
</launch>

